<!-- <app-navbar></app-navbar> -->

<div class="container">
    <div class="intro">
        <h1>I'm Dominik Furman. I live and study in Cracow, Poland.</h1>
    </div>

    <div class="about-me">
        <div class="about-me-section" id="paragraphs">
            <p>
                I'm in the first-year of second-cycle studies at the Cracow University of Economics. I'm studying towards
                a Master's degree in Applied Informatics.
            </p>
            <p>
                I am eager to explore diverse fields within IT to discover where my skills and interests align best.
                During my academic career, I have gained hands-on experience through various projects and coursework.
            </p>
            <p>
                I have worked with programming languages such as Python, Java, developed web applications using HTML, CSS,
                JavaScript and modern frameworks such as Angular. I'm open-minded and motivated to apply my knowledge
                in real-world scenarios. I'm particularly interested in roles that challenge me to innovate and grow.
            </p>
            <p>
                Beyond my IT-related life, I'm passionate about sports activities, especially hiking, skiing and playing football.
                I also enjoy exploring new places, meeting new cultures and broadening my knowledge by reading books.
            </p>
        </div>

        <div class="about-me-section" id="image">
            <img src="/assets/images/about-me-image.png" width="500" height="500">
        </div>
    </div>

    <div class="skills-heading">
        <h1>Tech Skills</h1>
    </div>
    <div class="tech-skills">
        <div class="skill">
            <i class="fa-brands fa-java"></i>
            <p>Java</p>
        </div>
        <div class="skill">
            <i class="fa-solid fa-leaf"></i>
            <p>Spring</p>
        </div>
        <div class="skill">
            <i class="fa-brands fa-python"></i>
            <p>Python</p>
        </div>
        <div class="skill">
            <i class="fa-solid fa-code"></i>
            <p>HTML/CSS</p>
        </div>
        <div class="skill">
            <i class="fa-brands fa-js"></i>
            <p>JavaSscipt</p>
        </div>
        <div class="skill">
            <i class="fa-brands fa-angular"></i>
            <p>Angular</p>
        </div>
        <div class="skill">
            <i class="fa-solid fa-database"></i>
            <p>SQL</p>
        </div>
        <div class="skill">
            <i class="fa-brands fa-git-alt"></i>
            <p>Git</p>
        </div>
    </div>
</div>