<nav class="nav">
    <div class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a class="link" routerLink="/home">Home</a>
            </li>

            <li class="navbar-item">
                <a class="link" routerLink="/about">About</a>
            </li>

            <li class="navbar-item">
                <a class="link" routerLink="/projects">Projects</a>
            </li>

            <li class="navbar-item">
                <!-- <a class="link" routerLink="/resume">Resume</a> -->
                <a class="link" href="/assets/files/FURMAN_DOMINIK_CV_EN.pdf" target="_blank">Resume</a>
            </li>
        </ul>
    </div>
</nav>