<div class="container">
    <div class="title">
        <h1>My recent works</h1>
        <h3>Here are a few projects I've worked on</h3>
    </div>

    <div class="projects">
        <div class="project-card">
            <i class="fa-solid fa-mountain-sun"></i>
            <h5>travelbuddy</h5>
            <p><em>travelbuddy</em> is a web application developed as a part of bachelor's thesis.
                It facilitates booking and managing mountain tours. It features a user-friendly interface and offers functionalities such as tour browsing, booking, and user management.
            </p>
            <a class="github-redirect" href="https://github.com/domfurman/MountainToursWebApp" target="_blank">Code</a>
        </div>

        <div class="project-card">
            <i class="fa-solid fa-ticket"></i>
            <h5>TicketReservation</h5>
            <p>
                The <em>Ticket Reservation App</em> is a web application designed to manage ticket bookings efficiently.
                It provides a user-friendly interface and functionalities such as movie and seat selection, simplified user registration,
                 detailed view of reserved ticket and admin options such as managing database with movies and creating screenings.
            </p>
            <a class="github-redirect" href="https://github.com/domfurman/portfolio" target="_blank">Code</a>
        </div>

        <div class="project-card">
            <i class="fa-solid fa-user-tie"></i>
            <h5>Portfolio Site</h5>
            <p>
                Built with modern framework - Angular, my personal portfolio website showcases not only my web development skills but 
                also my personal background. 
            </p>
            <a class="github-redirect" href="https://github.com/domfurman/TicketReservation" target="_blank">Code</a>
        </div>

    </div>
</div>