<app-navbar></app-navbar>
<div class="container">
    <div class="welcome-section">
        <h1>Hey, I'm Dominik!</h1>
        <h1>Welcome to my portfolio website!</h1>
        <p>Useful links:</p>
        <!-- <div class="useful-links">
            <ul class="links">
                <li class="single-link">
                    <a href="https://www.linkedin.com/in/dominik-furman-3bb9ab294/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
                <li class="single-link">
                    <a href="https://github.com/domfurman"><i class="fa-brands fa-github"></i></a>
                </li>
                <li class="single-link">
                    <a href="https://www.instagram.com/itsnotdominik"><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>
        </div> -->
        <!-- <div class="useful-links">
            <ul class="links">
                <li class="single-link">
                    <a href="https://www.linkedin.com/in/dominik-furman-3bb9ab294/">
                        <i class="fa-brands fa-linkedin"></i>
                        <svg class="circle-border" width="50" height="50">
                            <circle cx="25" cy="25" r="20" />
                        </svg>
                    </a>
                </li>
                <li class="single-link">
                    <a href="https://github.com/domfurman">
                        <i class="fa-brands fa-github"></i>
                        <svg class="circle-border" width="50" height="50">
                            <circle cx="25" cy="25" r="20" />
                        </svg>
                    </a>
                </li>
                <li class="single-link">
                    <a href="https://www.instagram.com/itsnotdominik">
                        <i class="fa-brands fa-instagram"></i>
                        <svg class="circle-border" width="50" height="50">
                            <circle cx="25" cy="25" r="20" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div> -->
        <div class="useful-links">
            <ul class="links">
                <li class="single-link">
                    <a href="https://www.linkedin.com/in/dominik-furman-3bb9ab294/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                        <svg class="square-border" width="50" height="50">
                            <rect x="5" y="5" width="40" height="40" rx="10" ry="10" />
                        </svg>
                    </a>
                </li>
                <li class="single-link">
                    <a href="https://github.com/domfurman" target="_blank">
                        <i class="fa-brands fa-github"></i>
                        <svg class="square-border" width="50" height="50">
                            <rect x="5" y="5" width="40" height="40" rx="10" ry="10" />
                        </svg>
                    </a>
                </li>
                <li class="single-link">
                    <a href="https://www.instagram.com/itsnotdominik" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                        <svg class="square-border" width="50" height="50">
                            <rect x="5" y="5" width="40" height="40" rx="10" ry="10" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
